api.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp200409="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsp200607="http://www.w3.org/2006/07/ws-policy" xmlns:ns0="http://www.moi.gov.sa/absher/AbsherNotification/" targetNamespace="http://www.moi.gov.sa/absher/AbsherNotification/">
<wsdl:types xmlns:xsd="http://www.w3.org/2001/XMLSchema">
</wsdl:types>
<wsdl:message name="GetStatus">
<wsdl:part xmlns:xsns="http://www.moi.gov.sa/absher/AbsherNotification/" name="GetStatus" element="xsns:GetStatus"/>
</wsdl:message>
<wsdl:message name="GetStatusDetail">
<wsdl:part xmlns:xsns="http://www.moi.gov.sa/absher/AbsherNotification/" name="GetStatusDetail" element="xsns:GetStatusDetail"/>
</wsdl:message>
<wsdl:message name="Notification">
<wsdl:part xmlns:xsns="http://www.moi.gov.sa/absher/AbsherNotification/" name="Notification" element="xsns:Notification"/>
</wsdl:message>
<wsdl:message name="NotificationRespone">
<wsdl:part xmlns:xsns="http://www.moi.gov.sa/absher/AbsherNotification/" name="NotificationRespone" element="xsns:NotificationRespone"/>
</wsdl:message>
<wsdl:message name="NotificationServiceException">
<wsdl:part xmlns:xsns="http://www.moi.gov.sa/absher/AbsherNotification/" name="NotificationServiceFault" element="xsns:AbsherNotificationFault"/>
</wsdl:message>
<wsdl:message name="StatusDetail">
<wsdl:part xmlns:xsns="http://www.moi.gov.sa/absher/AbsherNotification/" name="StatusDetailResponse" element="xsns:StatusDetailResponse"/>
</wsdl:message>
<wsdl:message name="StatusResult">
<wsdl:part xmlns:xsns="http://www.moi.gov.sa/absher/AbsherNotification/" name="StatusResponse" element="xsns:StatusResponse"/>
</wsdl:message>
<wsdl:portType name="AbsherNotificationService">
<wsdl:operation name="GetDetailedStatus" parameterOrder="GetStatusDetail">
<wsdl:input name="GetStatusDetail" message="ns0:GetStatusDetail"/>
<wsdl:output name="StatusDetail" message="ns0:StatusDetail"/>
<wsdl:fault name="NotificationServiceFault" message="ns0:NotificationServiceException"/>
</wsdl:operation>
<wsdl:operation name="GetStatus" parameterOrder="GetStatus">
<wsdl:input name="GetStatus" message="ns0:GetStatus"/>
<wsdl:output name="StatusResult" message="ns0:StatusResult"/>
<wsdl:fault name="NotificationServiceFault" message="ns0:NotificationServiceException"/>
</wsdl:operation>
<wsdl:operation name="SubmitRequest" parameterOrder="Notification">
<wsdl:input name="Notification" message="ns0:Notification"/>
<wsdl:output name="NotificationRespone" message="ns0:NotificationRespone"/>
<wsdl:fault name="NotificationServiceFault" message="ns0:NotificationServiceException"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="AbsherNotificationServiceImplPortBinding" type="ns0:AbsherNotificationService">
<soap11:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<wsdl:operation name="GetDetailedStatus">
<soap11:operation soapAction="http://www.moi.gov.sa/absher/AbsherNotification/" style="document"/>
<wsdl:input name="GetStatusDetail">
<soap11:body parts="GetStatusDetail" use="literal"/>
</wsdl:input>
<wsdl:output name="StatusDetail">
<soap11:body use="literal"/>
</wsdl:output>
<wsdl:fault name="NotificationServiceFault">
<soap11:fault name="NotificationServiceFault" use="literal"/>
</wsdl:fault>
</wsdl:operation>
<wsdl:operation name="GetStatus">
<soap11:operation soapAction="http://www.moi.gov.sa/absher/AbsherNotification/" style="document"/>
<wsdl:input name="GetStatus">
<soap11:body parts="GetStatus" use="literal"/>
</wsdl:input>
<wsdl:output name="StatusResult">
<soap11:body use="literal"/>
</wsdl:output>
<wsdl:fault name="NotificationServiceFault">
<soap11:fault name="NotificationServiceFault" use="literal"/>
</wsdl:fault>
</wsdl:operation>
<wsdl:operation name="SubmitRequest">
<soap11:operation soapAction="http://www.moi.gov.sa/absher/AbsherNotification/" style="document"/>
<wsdl:input name="Notification">
<soap11:body parts="Notification" use="literal"/>
</wsdl:input>
<wsdl:output name="NotificationRespone">
<soap11:body use="literal"/>
</wsdl:output>
<wsdl:fault name="NotificationServiceFault">
<soap11:fault name="NotificationServiceFault" use="literal"/>
</wsdl:fault>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="AbsherNotificationServiceImpl">
<wsdl:port name="AbsherNotificationServiceImplPort" binding="ns0:AbsherNotificationServiceImplPortBinding">
<soap11:address location="http://127.0.0.1:6038/AbsherSmsNotification"/>
</wsdl:port>
<wsdl:port name="AbsherNotificationServiceImplPort.0" binding="ns0:AbsherNotificationServiceImplPortBinding">
<soap11:address location="http://192.168.107.30:6038/AbsherSmsNotification"/>
</wsdl:port>
<wsdl:port name="AbsherNotificationServiceImplPort.1" binding="ns0:AbsherNotificationServiceImplPortBinding">
<soap11:address location="https://192.168.107.30:6039/AbsherSmsNotification"/>
</wsdl:port>
<wsdl:port name="AbsherNotificationServiceImplPort.2" binding="ns0:AbsherNotificationServiceImplPortBinding">
<soap11:address location="https://192.168.107.30:6073/AbsherSmsNotification"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>
